<style type="text/css">
	.link_limit{
		padding: 50;
		text-align: center;
	}
	.link_limit span{
		font-weight: 500;
		font-size: 17px;
	}
	.link_limit a{
		color: #1269DA;
		text-decoration: underline;
	}
</style>
<div class="link_limit" ng-show="limit == false">
	<span>We are sorry, the reset password link is no longer available, please try to <a href="#/reset_password">reset</a> your password again.</span>
</div>
<div class="container-fluid" id="reset-password" style="background: #fff;" ng-show="limit == true">
	<div id="sub1" class="sub-left">
		<div id="text-reset">
			<div class="wrap_icon_clock_pw setup">
            	<img class="icon_clock" src="assets/imgs/icon_padlock.png" alt="">
            	<span class="txtSecurity">Create a new password</span>
            	<div class="clearfix"></div>
            </div>
        </div>
	</div>
	<div class="row">
		<div class="col-lg-6 left">
			<div id="sub2" class="sub-left">
				<!-- <div class="btn-back" ng-click="backLogin()">Back</div> -->
				<div id="text-reset-setup">
					<div class="wrap_icon_clock setup">
		            	<img class="icon_clock" src="assets/imgs/icon_padlock.png" alt="">
		            	<span class="txtSecurity">Create a new password</span>
		            	<div class="clearfix"></div>
		            </div>
	            </div>
			</div>
		</div>
		<div class="col-lg-6 right">
			<div class="sub_right h_setup">
				<div class="alert alert-danger" role="alert" ng-show="error.message">{{ error.message }}</div>
				<div class="form-reset">
					<form name="resetForm" role="form" style="padding-bottom: 25px;">
						<div class="fr-email" style="margin-bottom: 5px;">
						    <label>Email:</label>
						    <div class="wrap-error">
							    <input type="text" ng-model="email" ng-focus="resetError()" name="email" class="s-input-info email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
						        <div class="icon-error hide"></div>
						        <div class="error-message hide"></div>
					        </div>
					  	</div>
					  	<div class="form-group" style="margin-bottom: 5px;">
						    <label>New password:</label>
						    <div class="wrap-error" style="position:relative">
							    <input type="password"  name="password" class="s-input-info pass" ng-focus="validateEmail()"/>
							    <div class="icon-error icon_pass_error hide"></div>
					        </div>
					        <span class="error error_password error-message hide"></span>
					  	</div>
					  	<div class="form-group" style="margin-bottom: 5px;">
						    <label>Confirm password:</label>
						    <div style="position:relative">
							    <input type="password"  name="confirm" class="s-input-info pass_confirm" ng-focus="validatePass()"/>
							    <div class="icon-error icon_pass_confirm_error hide"></div>
					        </div>
					        <span class="error error_password_confirm error-message hide"></span>
					  	</div>
						<div class="form-group" style="margin-bottom: 0px;">
						  	<button type="button" class="s-btn-continue" ng-click="updatePassword()">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="loading-dialog">
	<img src="assets/imgs/loading.gif"/>
</div>
