<div class="container-fluid" id="success-password" style="background: #fff;padding-bottom: 50px;">
    <div class="text-reset-1">
        <div class="wrap_icon_clock">
            <img class="icon_clock" src="assets/images/icon_padlock.png" alt="">
            <span class="txtSecurity ng-binding">Reset password</span>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 left">
            <div class="sub-left" id="text-reset">
                <div class="wrap_icon_clock">
                    <img class="icon_clock" src="assets/imgs/icon_padlock.png" alt="">
                    <span class="txtSecurity ng-binding">Reset password</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 right">
            <div class="sub-right">
                <div id="success-icon">
                    <img src="assets/imgs/icon_error_alert_success.png">
                </div>
                <div id="success-word">Success</div>
                <div id="instruction" style="margin-bottom: 50px;">
                    Your password has been changed.
                </div>
                <div>
                    <a href="#/login" class="s-btn-back-success" ng-click="backLogin()">
                            Back to login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>